.datePickerBox{
   display: flex; 
   justify-content: center;
   align-items: center;
   background-color: white;
   margin-top: 20px;
   height: 120px;
   width: 250px;

}

.dateInputField{
   /* width: 300px; */
   background-color: Transparent;
   width: 120px;
   border: 0px solid;


}

.datePickerDisplay{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   width: 230px;

}
.inputBox{
   width: 300px;
   border: 1px solid #3d3d3d;
   /* background-color: wheat; */
}
#pTitle{
   color: rgb(198, 68, 217);
   font-weight: 700;
}
.dateContainer{
   margin-left: -400px;

}

.dateContainer p{
   color: rgb(139, 139, 139);

}
.buttonADS{
   background-color: rgb(53,178,196);
   border: .2 solid rgba(80, 80, 80, 0.265);
   color: white;
}
.MainContainer{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   height: 100vh;
}

.monthDisplay{
   width: 30px;
}
#up{
   background-color: transparent;
   border: transparent;
}

#down{
   background-color: transparent;
   border: transparent;
}

input:focus {
   background-color: rgba(203, 203, 203, 0.622);

 }