.mainContainer{
   display: flex;
   flex-direction: row;
   height: 100vh;
}

.leftPanel{
   width: 80px;
   height: 100%;
   background-color: rgb(255,255,255);
   display: flex;
   flex-direction: column;
   align-items: center;
}  

.rightPanel{
   width: 100%;
   background-color: rgb(255,255,255);
}

.classifyPanel{
   width:700px ;
   /* min-width: 30en; */
   background-color: rgb(245,245,245);
}


